<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="../javascript/app.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Business Name Generator</title>
</head>
<body>
    <h1 id="objects"></h1>
   
   <script>
       var objects = ['alamin', 'anwar', 'rubel'];
    //    objects.pop()
    //    objects.shift('sagor')
       objects.reverse()
    //    objects.unshift('sagor')
    //    objects.push('sagor')
    //    var objects = new Array();
    //    objects[0]='alamin';
    //    objects[1]='anwar';
    //    objects[2]='rubel'

    //    document.write(objects)
    document.getElementById('objects').innerHTML= objects
   </script>
</body>
</html>