<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var alamin =true
        var name = "pramanik"
        if (alamin){
            document.write("<h1>"+"he is name is "+ name+ "</h1>")
        }
    </script>
    <!-- <script>
        var alamin= 100
        var adnan= 200

        if (alamin === adnan){
            document.write("<h1> yes value is true </h1>")
        }
        else if (alamin !== adnan){
            document.write("<h1> yes value is False </h1>")
        }
        else {
            document.write("<h1> yes value  </h1>")
        }
    </script> -->
</body>
</html>