<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        //array
        // var alamin= new Array()
        // alamin['Name']='Adnan Amin'
        // alamin['Degignation']='Junior Backend Developer'
        // alamin['Email']='alamin493641@gmail.com'
        // alamin['Phone Number']='01735251354'

        //object
        // var alamin= new Object()
        // alamin.Name='Adnan Amin'
        // alamin.Degignation='Junior Backend Developer'
        // alamin.Email='alamin493641@gmail.com'
        // alamin.Phone_Number='01735251354'

        //list
        alamin= {
            Name:"Adnan Amin",
            Degignation:'Junior Backend Developer',
            Email:'alamin493641@gmail.com',
            Phone_Number:'01735251354',
            details:{
                Name:true,
                Degignation:true,
                Email:true,
                Phone_Number:true



            }
            
        }
        console.log(alamin)
        // document.write(adnan)
    </script>
</body>
</html>