<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch </title>
</head>
<body>
    <h1 id="alamin"></h1>
    <script>
        var alamin="python Developer"

        switch (alamin){
            case 'python Developer':
            document.getElementById('alamin').innerHTML= alamin
            break;

            case 'python Developers':
            document.getElementById('alamin').innerHTML= alamin
            break;

            case 'Developer':
            document.getElementById('alamin').innerHTML= alamin
            break;

        }
    </script>
</body>
</html>